/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-dic-2015, 12:00:39
    Author     : ferna
*/

div.cantidad input.plus:hover, div.cantidad input.minus:hover {background-color: #222}
input[type="submit"], button[type=submit] {
    background: none repeat scroll 0 0 #780000;
    border: medium none;
    color: #fff;
    padding: 6px 12px;
    /* text-transform: uppercase; */
}
input[type="button"], button[type=button] {
    background: none repeat scroll 0 0 #780000;
    border: medium none;
    color: #fff;
    padding: 6px 12px;
    /* text-transform: uppercase; */
}
.cantidad {
    float: left;
    margin-right: 15px;
}
.cantidad input[type="number"] {
    border: 1px solid #780000;
    padding: 5px;
    width: 50px;
}

.comentarios{
    width: 100%;
    float:left;
    margin-top: 10%;
}

form.carritoform {
    margin-bottom: 25px;
}
body{
    background-color: #FFF8F8;
}
.cabecera{
    background-color:#780000; 
}
.menuUsuario{
    text-align: left;

}
.menuUsuario ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.menuUsuario li {
    display: inline-block;
}
.menuUsuario li a {
    display: block;
    font-size: 13px;
    margin-right: 5px;
    padding: 10px;
    color:white;
}
.menuUsuario li a i.fa {
    margin-right: 5px;
}
.fondocorp{
    background-color: #E9E9E9;
}
#menucompras{
    background-color: #780000;
}
.pie {background: #000;color: #fff}
.pie {
    float: left;
    color: #fff;
    padding-bottom: 40px; 
    width: 100%;
    margin-top: 15%;
}
.copyright > p {
    // margin-bottom: 2%;
    margin: 10px 10px 10px;
}
.iconosTarjetas {
    font-size: 30px;
    text-align: right;
}
.logo h1 {
    font-size: 40px;
    margin: 40px 0;font-weight: 400;
}
.logo h1 a {
    color: #999;
}
.logo h1 a:hover {text-decoration: none;opacity: .7}
.logo h1 a span {
    color: #780000;
}
.carrito {
    border: 1px solid #000;
    float: right;
    font-size: 18px;
    margin-top: 40px;
    padding: 10px;
    position: relative;
}
.carrito a {
    color: #000;
}
carrito i.fa {
    margin-left: 15px;
}


.carrito:hover {
    background: none repeat scroll 0 0 #780000;
    border-color: #780000;
}
.carrito:hover a {
    color: #fff;text-decoration: none
}
.carrito:hover .cart-amunt {
    color: #fff;
}
.carrito:hover .productocarro {
    background: none repeat scroll 0 0 #000;
}
.cart-amunt {
    color: #780000;
    font-weight: 700;
}
.productocarro {
    background: none repeat scroll 0 0 #780000;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    height: 20px;
    padding-top: 2px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -10px;
    width: 20px;
}
#contenidoCentral{
    margin-bottom: 10%;

}
#menucompras .navbar-brand{
    color: white;
    font-weight: bold;
}


#menucompras .navbar-brand>li>a{
    color: white;
    font-weight: bold;
}

#menucompras .navbar-toggle {
    background-color: #C3C3C3;
    border-color: white;
    font-weight: bold;
}
#menucompras .navbar-nav > li > a {
    color:white;
    font-weight: bold;
}
#menucompras .navbar-nav > li > a:hover {
    background-color: #C3C3C3;  
}
#menucompras .navbar-nav > li > a:active {
    background-color: #C3C3C3;   
    color:white;
}
#menucompras .navbar-nav >.active > a  {
    background-color: #C3C3C3;  
}
.navbar-nav{
    background-color: #780000;
}
.navbar-collapse{
     background-color: #780000;
}
.producto {//
           float: left;
           text-align: center;
           margin-left: 10px;
           line-height: 25px;
           margin-bottom: 10px;
           margin-top: 15px;
}
.producto>a>img{
    width: 60% ;
}
.producto>img{
    width: 60% ;
}
.producto > p > .btn-info{
    background-color: #780000;
    border-color: #780000;
}
.producto h2{

    font-size: 20px;
}
.pagina-producto {
    padding-top: 40px;
    height: 100%;
    padding-bottom: 40px;
    margin-bottom: 10%;
}
.pagina-login {
    padding-top: 40px;
    height: 100%;
    padding-bottom: 40px;
    margin-bottom: 10%;
}
.pagina-form{
    padding-top: 40px;
    height: 100%;
    padding-bottom: 40px;
    margin-bottom: 10%;
}
.pagina-proveedor {
    padding-top: 40px;
    height: 500px;
    padding-bottom: 40px;
    margin-bottom: 10%;
}

.panel-comentarios {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #780000;
  color: white;
}

.rating {
    float: right;
    font-size: large;
}

.sidebar-titulo {
    //float:left;
    color: #780000;
    font-size: 25px;
    margin-bottom: 30px;
    text-transform: uppercase;

}
.producto-sidebar {
    // float:left;
    margin-bottom: 50px;
    width: 100%;
    // height: 100%;
}
.miniatura {
    float: left;
    height: auto;
    margin-right: 15px;
    width: 63px;
}
.miniatura-reciente > h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
.miniatura-reciente > h2 a {
    color: #222;
}
.producto-sidebar-precio > ins {
    color: #780000;
    font-weight: 700;
    margin-right: 10px;
    text-decoration: none;
}
.producto-sidebar > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.producto-sidebar li {
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0;
}
.producto-sidebar  a {
    color:black;
    display: block;
}
.producto-contenido{
    float: left;
    width: 100%;
}
.producto-categorias {
    //float: left;
    margin-bottom: 20px;
}
.producto-categorias > a {
    margin-right: 31px;
    position: relative;
}
.producto-categorias > a::before {
    content: "/";
    position: absolute;
    right: -20px;
    top: 2px;
}
.producto-categorias > a:last-child::before {
    display: none;
}
.producto-imagenes{
    float: left;
    width: 100%;
}
.producto-imagen-principal {
    float: left;
    //margin-top: 10%;
    width: 100%;
    margin-bottom: 20px;
}
.producto-imagen-principal>img {
    width: 80%;
}
.producto-galeria {
    float: left;
    overflow: hidden;
}
.producto-galeria img {
    height: auto;
    margin-left: 15px;
    width: 60px;
}
.producto-nombre {
    font-size: 25px;
    margin-bottom: 20px;
}
.producto-descripcion-precio {
    margin-bottom: 25px;
}
.producto-descripcion-precio > ins {
    color: #780000;
    font-weight: 700;
    margin-right: 10px;
    text-decoration: none;
}
.cantidad {
    float: left;
    margin-right: 15px;
}
.cantidad input[type="number"] {
    border: 1px solid #780000;
    padding: 5px;
    width: 50px;
}
.anadirCarro {
    background: none repeat scroll 0 0 #780000;
    border: medium none;
    color: #fff;
    padding: 6px 25px;
    display: inline-block
}
.anadirCarro:hover {background-color: #222;color: #fff;text-decoration: none}
.anadirCarro {
    background: none repeat scroll 0 0 #780000;
    border: medium none;
    color: #fff;
    padding: 6px 25px;display: inline-block
}
.anadirCarro:hover {background-color: #222;color: #fff;text-decoration: none}
form.cart {
    margin-bottom: 25px;
}
.producto-descripcion-category {
    margin-bottom: 30px;
}
.producto-tabla {
    border-bottom: 1px solid #ddd;
    list-style: outside none none;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}
.producto-tabla li {
    display: inline-block;
}
.producto-tabla li.active {
    background: none repeat scroll 0 0 #780000;
}
.producto-tabla li.active a {
    color: #fff;
}
.producto-tabla li a {
    color: #222;
    display: block;
    font-size: 16px;
    padding: 10px 30px;
}
.producto-tabla li a:hover {
    text-decoration: none;
}

.producto-tabla li a:focus {
    text-decoration: none;
}
.contenido-tabla h2 {
    font-size: 20px;
}
.contenido-tabla {
    margin-bottom: 30px;
}
.submit-review label {
    display: block;
}
.submit-review input[type="text"], .submit-review input[type="email"], .submit-review textarea {
    margin-bottom: 20px;
    width: 100%;
}
.valoracion {
    margin-bottom: 30px;
}
.valoracion p {
    font-weight: 700;
}
.valoraciones {
    font-size: 20px;
}

.submit-review textarea {
    height: 105px;
}
.woocommerce-info {
    background: none repeat scroll 0 0 #f4f4f4;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 15px;
}
table.tabla_carro {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-bottom: 50px;
    width: 100%;
}
table.tabla_carro th, table.tabla_carro td {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}
table.tabla_carro th {
    background: none repeat scroll 0 0 #f4f4f4;
    font-size: 15px;
} 
td.producto-miniatura img {
    height: auto;
    width: 50px;
}
td.producto-nombre {
    font-size: 17px;
    color: black;
}
td.borrar-producto > a{
    text-transform: uppercase;
    color:black;
    font-weight: bolder;
    font-size: 30px;
    text-decoration: none;

}
div.cantidad input.plus, div.cantidad input.minus {
    background: none repeat scroll 0 0 #1abc9c;
    border: medium none;
    color: #fff;
    height: 25px;
    line-height: 15px;
    width: 25px;
}
td.producto-cantidad div.cantidad {
    float: none;
    margin: 0;
}
td .acciones {
    float: left;
}
.total_carro {
    float: left;
    margin-bottom: 50px;
    width: 80%;
}

.total_carro table {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    width: 100%;
}
.total_carro table th, .total_carro table td {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 10px;
}
.total_carro table th {
    background: none repeat scroll 0 0 #f4f4f4;
}
/*#profile{
    margin-top: -100%;
}*/
.login {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.login .login-heading,
.login .checkbox {
    margin-bottom: 10px;
}
.login .checkbox {
    font-weight: normal;
}
.login .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.login .form-control:focus {
    z-index: 2;
}
.login input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
@media only screen and (min-width: 992px) and (max-width: 1280px) {
    /*#profile{
        margin-top: -120%;
    }*/
    .producto{
        text-align: center;
        float: left;
        margin-left: 40px;
        position: relative;
        width: 240px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    .producto>a>img{
        width: 50% ;
    }
    .producto>img{
        width: 50% ;
    }
    .producto-imagen-principal>img {
        width: 60%;
    }
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .producto{
        text-align: center;
        float: left;
        margin-left: 40px;
        position: relative;
        width: 280px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    .producto>a>img{
        width: 50% ;

    }
    .producto>img{
        width: 50% ;
    }
    .producto-imagen-principal>img {
        width: 60%;
    }
    .submit-review input[type="text"], .submit-review input[type="email"], .submit-review textarea {
        margin-bottom: 20px;
        width: 80%;
    }
    .submit-review textarea {
        height: 85px;
    }
    #profile{
        margin-top: -100%;
    }
}
@media only screen and (max-width: 767px) { 
    .producto{
        text-align: center;
        float: left;
        margin-left: 20%;
        position: relative;
        width: 280px;
        line-height: 18px;
        margin-bottom: 5px;
    }
    .producto>a>img{
        width: 35% ;
    }
    .producto>img{
        width: 35% ;
    }
    .producto-imagen-principal>img {
        width: 30%;
    }   

    .logo h1 {
        font-size: 30px;
        margin: 20px 0;
        text-align: center;
    } 
    .carrito {
        float: none;
        margin-bottom: 20px;
        margin-top: 5px;
        text-align: center;
    }  
    #menucompras .navbar-collapse.collapse.in {
        background: none repeat scroll 0 0 #780000;
        position: relative;
        z-index: 99;
    } 
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        font-weight: bold;
        color: white;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color: #C3C3C3;
        color: white;
    }
    .producto {
        text-align: center;
    }
    .submit-review label {
        display: block;
    }
    .submit-review input[type="text"], .submit-review input[type="email"], .submit-review textarea {
        margin-bottom: 20px;
        width: 100%;
    }
    .submit-review textarea {
        height: 75px;
    }
    /* #profile{
         margin-top: -80%;
     }*/
    table.tabla_carro th, table.tabla_carro td {
        font-size: 12px;
        padding: 5px;
    }    
    td.producto-miniatura img {
        width: 30px;
    } 

    div.cantidad input.plus, div.cantidad input.minus {
        display: none;
    }   
    table.tabla_carro th {
        font-size: 12px;
    }    
    td .acciones {
        float: left;
    }
    td .acciones> input[type="submit"], button[type=submit] {
        /* width: 60%; */
    }
    .total_carro {
        float: left;
        margin-left:15%;
        margin-bottom: 50px;
        width: 60%;
    }
    td.borrar-producto > a{
        text-transform: uppercase;
        color:black;
        font-weight: bolder;
        font-size: 15px;
        text-decoration: none;

    }
    .total_carro table {
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        width: 100%;
    }
    .total_carro table th, .total_carro table td {
        border-left: 1px solid #ddd;
        border-top: 1px solid #ddd;
        padding: 5px;
    }
    .total_carro table th {
        background: none repeat scroll 0 0 #f4f4f4;
    }
    input[type="submit"], button[type=submit] {padding: 6px 12px;}
    .login .form-control {

        padding: 8px;
        font-size: 10px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) { 


}

